!!!

%html
  %head
    %title= @title
  %body
    %h1= @title
    
    %p= @content
    
    %p== The next Ruby Tuesday is #{@next_date}
    
    %p Confirm you are coming and <a href="signup">express your pizza preference</a>